name: Deployment

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment:
          - cache-true-environment
          - cache-false-environment
    environment: ${{ matrix.environment }}
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: ./.github/actions/cache-deps
        with:
          caching: ${{ fromJSON(secrets.caching) }}

      - name: Lint code
        run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs: lint
    strategy:
      matrix:
        environment:
          - cache-true-environment
          - cache-false-environment
    environment: ${{ matrix.environment }}
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: ./.github/actions/cache-deps
        with:
          caching: ${{ fromJSON(secrets.caching) }}

      - name: Test code
        id: run-tests
        run: npm run test

      - name: Upload test report
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v4
        with:
          name: test-report-${{ matrix.environment }}
          path: test.json

  build:
    runs-on: ubuntu-latest
    needs: test
    strategy:
      matrix:
        environment:
          - cache-true-environment
          - cache-false-environment
    environment: ${{ matrix.environment }}
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: ./.github/actions/cache-deps
        with:
          caching: ${{ fromJSON(secrets.caching) }}

      - name: Build website
        run: npm run build

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files-${{ matrix.environment }}
          path: dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        environment:
          - cache-true-environment
          - cache-false-environment
    environment: ${{ matrix.environment }}
    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist-files-${{ matrix.environment }}
          path: ./dist

      - name: Output contents
        run: ls

      - name: Deploy site
        run: echo "Deploying to ${{ matrix.environment }}..."
